<div class="container" >
    <div style="text-align:center">
        <h1>
            LISTA DE TV'S
        </h1>
        <div style="margin: 30px; float: right;">
            <button pButton type="button" label="Nova TV"  (click)="goToTvNovo()" ></button>
        </div>
    </div>

    <form #f="ngForm" autocomplete="off" (ngSubmit)="getTvs()">
        <div style="margin: 30px;">
            <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                <label>Local</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <input pInputText type="text" name="local" class="campo" [(ngModel)]="local">
            </div>
        </div>

            <div style="margin-left: 2%; width: 100%; display: inline-block;" >
               
            <div style="color: green; width: 10%;">
                <button pButton type="submit" label="Pesquisar" class="ui-button-success"></button>
            </div>
            <div style="color: green; width: 90%; float: right; float: right; margin-top: -3%;">
                <button  type="button" class="ui-button-secondary" pButton label="Limpar" (click)="limpar()" ></button>
            </div>
        </div>
               
    </form>

    
</div>

<div style="margin-left: 2%;">

    <p-dataTable [value]="tvs" [paginator]="true" [rows]="3" [responsive]="true"
      emptyMessage="Nenhuma TV encontrada" #tabela>
    
        <p-column field="local" header="Local"></p-column>
        <p-column field="chave" header="Chave"></p-column>
        <p-column field="disponibilidade" header="Disponibilidade"></p-column>
        <p-column field="modelo" header="Modelo"></p-column>
        <p-column field="marca" header="Marca"></p-column>
        <p-column field="online" header="Online"></p-column>
    
        <p-column styleClass="acoes" header="Ações">
          <ng-template let-tv="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" label="editar" [routerLink]="['/tvs', tv.id]"></a>
            <button pButton icon="fa-trash" type="button" label="excluir" (click)="confirmarExclusao(tv)"></button>
          </ng-template>
      </p-column>
    
      </p-dataTable>
</div>

