<div class="container" style="width: auto;">

  <div style="text-align:center">
    <h1 style="color: green;">
      {{ editandoProgramacao ? 'EDITAR ' : 'NOVA'}} PROGRAMAÇÃO
    </h1>
  </div>
  <div style="margin: 30px; float: right;">
    <button pButton type="button" label="Buscar mídias" class="ui-button-success" (click)="showDialog()"></button>
  </div>

  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div style="margin: 2%;">
      <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
          <label>Título</label>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
          <input pInputText type="text" name="titulo" class="campo" [(ngModel)]="programacao.titulo">
      </div>
    </div>

    <div class="p-formgroup-inline" style="margin-left: 2%; margin-top: 2%; margin-bottom: 2%;">
      <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
          <label for="tiposMidias">Tipo de Programação</label>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
          <p-dropdown [options]="tiposProgramacao" name="tipo" placeholder="Selecione" 
          [style]="{width: '30%', minWidth: '30%'}" [(ngModel)]="programacao.tipoProgramacao" ></p-dropdown>
      </div>
    </div>

    <div style="margin: 2%;">
      <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
          <label>Data de Exibição</label>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
          <input pInputText type="text" name="dataExibicao" class="campo" [(ngModel)]="programacao.dataExibicao">
      </div>
    </div>

    <div style="margin: 2%;" *ngIf="programacao.tipoProgramacao === 'Normal'">
      <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
          <label>Horário de Início</label>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <p-inputMask type="text" mask="99:99" name="inicio" class="campo" [(ngModel)]="programacao.horarioInicio"></p-inputMask>
      </div> 
    </div> 

    <div style="margin: 2%;" *ngIf="programacao.tipoProgramacao === 'Normal'">
      <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
          <label>Horário de Encerramento</label>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <p-inputMask type="text" mask="99:99" name="fim" class="campo" [(ngModel)]="programacao.horarioFim"></p-inputMask>
      </div> 
    </div> 

    <div style="margin: 2%;" *ngIf="programacao.tipoProgramacao === 'Imediata'">
      <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
          <label>Dia da semana</label>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <input pInputText type="text" name="diaSemana" class="campo" [(ngModel)]="programacao.diaSemana">
      </div> 
    </div> 

    <div style="display: inline-block; margin-right: 60%; margin-left: 3%; margin-bottom: 2%;">
      <div style="display: inline-block;">
          <button class="btn-salvar" pButton type="submit" class="ui-button-success" label="Salvar" ></button>
      </div>
      <div style="display: inline-block;">
          <button class="ui-button-secondary" routerLink="/programacao" pButton label="Cancelar"></button>
      </div>
    </div>

    <div>
      <table id="customers">
        <thead class="thead-light">
          <tr>
            <th colspan="3">Midias Selecionadas</th>
          </tr>
        </thead>
        <thead class="thead-light">
          <tr>
            <th>Titulo</th>
            <th>Tipo</th>
            <th>Duração</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of midiasSelecionadas">
            <th>{{ m.titulo }}</th>
            <th>{{ m.tipoMidia }}</th>
            <th>{{ m.duracao }}</th>
          </tr>
        </tbody>
      </table>
  </div> 

    <p-dialog header="Adicionar Mídia" [(visible)]="display">

      <p-dataList [value]="midias" [paginator]="true" [rows]="2">
        <p-header>
            Lista de Mídias
        </p-header>
        <ng-template let-mid pTemplate="item">
            <div class="ui-g ui-fluid">
                <!-- <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img src="assets/showcase/images/demo/car/{{car.brand}}.png">
                </div> -->
                <div class="ui-g-12 ui-md-9">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Título: </div>
                        <div class="ui-g-10 ui-sm-6">{{ mid.titulo }}</div>
                        
                        <div class="ui-g-2 ui-sm-6">Chave: </div>
                        <div class="ui-g-10 ui-sm-6">{{ mid.chaveEspecifica }}</div>

                        <div class="ui-g-2 ui-sm-6">Tipo de Mídia: </div>
                        <div class="ui-g-10 ui-sm-6">{{ mid.tipoMidia }}</div>
                        
                        <div class="ui-g-2 ui-sm-6" *ngIf="mid.link">Link: </div>
                        <div class="ui-g-10 ui-sm-6" *ngIf="mid.link">{{ mid.link }}</div>
                        
                        <div class="ui-g-2 ui-sm-6" *ngIf="mid.disponibilidadeMidia">Disponibilidade: </div>
                        <div class="ui-g-10 ui-sm-6" *ngIf="mid.disponibilidadeMidia">{{ mid.disponibilidadeMidia }}</div>

                        <div>
                          <button pButton class="ui-button-success" type="button" label="adicionar" (click)="adicionarMidia(mid)" (click)="getMidiasSelecionadas()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataList>
    
       
    </p-dialog>

    </form>
</div>
