.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

body .ui-widget-header {
    background: #ffffff;
    color: green !important;
    border: 1px solid #cdcdcd;
}