<div style="height: 100%;">

  <div class="navegacao" *ngIf="exibindoMenu()">
    <app-menu ></app-menu>
  </div>

  <div class="conteudo" style="float:right">
    <app-content></app-content>
        
    <router-outlet></router-outlet>
  </div>

</div>



<ng2-toasty [position]="'top-center'"></ng2-toasty>

<p-confirmDialog header="Confirmação" icon="fa fa-question-circle" #confirmacao>
    <p-footer>
      <button type="button" pButton icon="fa-check" label="Sim"
        (click)="confirmacao.accept()"></button>
      <button type="button" pButton icon="fa-times" label="Não"
        (click)="confirmacao.reject()"></button>
    </p-footer>
  </p-confirmDialog>
