<div class="container">

    <div style="text-align:center">
        <h1 style="color: green;">
            LISTA DE MÍDIAS
        </h1>
    </div>
    <div style="margin: 2%; float: right;">
        <button class="btn-salvar" class="ui-button-success" pButton type="button" label="Nova Mídia"  (click)="goToMidiaNova()" ></button>
    </div>

    <form #f="ngForm" autocomplete="off" (ngSubmit)="getMidias()">

        <div style="margin-left: 0%; display: inline-block; margin-bottom: 1%; width: 100%; ">

            <div style="margin-left: 2%; margin-top: 2%; margin-bottom: 2%;">
                <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                    <label>Título</label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-fluid">
                    <input pInputText type="text" name="titulo" class="campo" [(ngModel)]="titulo">
                </div>
            </div>

            <div style="margin-left: 2%; margin-top: 2%; margin-bottom: 2%;">
                <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                    <label>Chave Especifica</label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-fluid">
                    <input pInputText type="text" name="chave" class="campo" [(ngModel)]="chave">
                </div>
            </div>

            <div class="p-formgroup-inline" style="margin-left: 2%; margin-top: 2%; margin-bottom: 2%;">
                <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                    <label for="tiposMidias">Tipo</label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-fluid">
                    <p-dropdown [options]="tiposMidias" name="tipo" placeholder="Selecione" [(ngModel)]="tipo" ></p-dropdown>
                </div>
            </div>
        </div>

        <div style="margin-left: 3%; display: inline-block; margin-bottom: 1%; ">
            <div style="display: inline-block;">
                <button class="ui-button-success" pButton type="submit" label="Pesquisar" ></button>
            </div>
            <div style="display: inline-block;">
                <button class="ui-button-secondary" pButton label="Limpar" (click)="limpar()" ></button>
            </div>
        </div>
        
    </form>

    

        <p-dataTable [value]="midias" [paginator]="true" [rows]="3" [responsive]="true"
            emptyMessage="Nenhuma mídia encontrada" #tabela>

            <p-column field="titulo" header="Título"></p-column>
            <p-column field="chaveEspecifica" header="Chave"></p-column>
            <p-column field="tipoMidia" header="Tipo"></p-column>
            <p-column field="link" header="Link"></p-column>
            <p-column field="usuario.nome" header="Usuário"></p-column>

            <p-column styleClass="acoes" header="Ações">
                <ng-template let-midia="rowData" pTemplate="body">
                    <a pButton icon="fa-pencil" class="ui-button-success" [routerLink]="['/midias', midia.id]"></a>
                    <button pButton icon="fa-trash" class="ui-button-success" (click)="confirmarExclusao(midia)"></button>
                    <button pButton icon="fa-plus" (click)="showDialog(midia)" class="ui-button-success"></button>
                </ng-template>
            </p-column>

        </p-dataTable>
           
    </div>
    
    <p-dialog header="Adicionar Arquivo" [(visible)]="display">
        <!-- <p-fileUpload name="file" [url]="urlAnexo" 
            chooseLabel="Anexar" uploadLabel="Enviar" cancelLabel="Cancelar"
            (onUpload)="onUpload($event)">
        </p-fileUpload>
    
        <ng-template pTemplate="content">
            <div class="col-md-12">
                <ul *ngIf="file != null">
                    <li>
                        <a href=""> {{ file.name }} </a>
                    </li>
                </ul>
            </div>
        </ng-template> -->

        <div class="container row">
            <div class="col-md-12">
                <h1>Upload Image</h1>
            </div>
        </div>
            
        <div class="container row">
            <div class="col-md-6">
                <input type="file" (change)="onFileChanged($event)">
            </div>
        
            <div class="col-md-6">
                <input type="button" (click)="onUpload()" value="file">
            </div>
        </div>
            
        <hr />
            
        <div class="container row">
            <div class="col-md-12">
                <div *ngIf=message>{{message}}</div>
            </div>
        </div>
            
        <div class="container row">
            <div class="col-md-6">
                <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
                    name="name" />
            </div>
            <div class="col-md-6">
                <input type="button" (click)="getImage()" value="Get Image">
            </div>
        </div>
            
        <div class="container row">
            <div class="col-md-12">
                <div *ngIf=retrievedImage>
                    <img [src]="retrievedImage">
                </div>
            </div>
        </div>
            
    </p-dialog>


    <!-- </div> -->

    <!-- <p-table [value]="midias" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header">
            <tr>
                <th>Título</th>
                <th>Chave Especifica</th>
                <th>Tipo</th>
                <th>Link</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-midia>
            <tr>
                <td>{{midia.titulo}}</td>
                <td>{{midia.chaveEspecifica}}</td>
                <td>{{midia.tipoMidia}}</td>
                <td>{{midia.link}}</td>
                <td>{{midia.usuario.nome}}</td>
                <td>
                    <button pButton (click)="abrirModal(midia)" icon="pi pi-file"
                    *ngIf="midia.tipoMidia != 'Streaming'"></button>-->
                    <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button> -->
                    <!--<a pButton style="margin-left: 15px;" pTooltip="Editar" tooltipPosition="top">
                        <i class="pi pi-pencil" [routerLink]="['/midia', midia.id]"></i>                      
                    </a>
                    <button pButton style="margin-left: 15px;"
                      pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(midia)">
                        <i class="pi pi-trash"></i>
                    </button>
                </td>
            </tr>
        </ng-template> 
    </p-table> -->

    
