<div class="container">
    <div style="text-align:center">
        <h1 style="color: green;">
            {{editandoMidia ? 'EDITAR ' : 'NOVA'}} MÍDIA
        </h1>
    </div>

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

        <div style="display: inline-block; margin-left: 0%; 
            width: 100%;">

        <div style="margin: 2%;">
            <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                <label>Título</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <input pInputText type="text" name="titulo" class="campo" [(ngModel)]="midia.titulo">
            </div>
        </div>

        <div style="margin: 2%;">
            <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                <label>Chave</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <input pInputText type="text" name="Chave" class="campo" [(ngModel)]="midia.chaveEspecifica">
            </div>
        </div>

        <div class="ui-g-12 ui-md-9 ui-fluid" style="margin-left: 2%;">

            <div fxFlex="10%" style="margin-bottom: 2%;">
                <div style="color: green;">
                    <label for="tiposMidias">Tipo</label>
                </div>  
            </div>

            <div fxFlex="10%" style="margin-bottom: 2%;">
                <div style="color: green;">
                   <p-dropdown [options]="tiposMidias" name="tipoMidia" placeholder="Selecione" [(ngModel)]="midia.tipoMidia" ></p-dropdown>
                </div>  
            </div>

            <div fxFlex="10%" style="margin-bottom: 2%;">
                <div style="color: green;">
                    <label for="disponibilidade">Disponibilidade</label>
                </div>  
            </div>
            <div fxFlex="10%" style="margin-bottom: 2%;">
                <div style="color: green;">
                    <p-dropdown [options]="disponibilidade" name="disponibilidadeMidia" placeholder="Selecione" [(ngModel)]="midia.disponibilidadeMidia" ></p-dropdown>
                </div>  
            </div>
            <!-- <div fxFlex="10%" style="margin-bottom: 2%;">
                <div style="color: green;">
                    <label for="chaves">Chaves</label>
                </div>  
            </div>
            <div style="margin-bottom: 2%;">
                <div style="color: green;"> -->
                    <!-- <p-multiSelect [options]="chaves" [(ngModel)]="chavesSelecionadas" optionLabel="chave" [ngModelOptions]="{standalone: true}"></p-multiSelect> -->
                    <!-- <p-dropdown [options]="chaves" name="chavesMidia" value="l" placeholder="Selecione" [(ngModel)]="midia.chavesSelecionadas" ></p-dropdown>
                </div>  
            </div> -->
            

        </div>

        <div style="margin:2%;" *ngIf="midia.tipoMidia == 'Streaming'">
            <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                <label>Link</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <input pInputText type="text" name="link" class="campo" [(ngModel)]="midia.link">
            </div>
        </div>

    </div>

        
  

    <div style="display: inline-block; margin-right: 60%; margin-left: 3%;">
        <div style="display: inline-block;">
            <button class="btn-salvar" pButton type="submit" class="ui-button-success" label="Salvar" ></button>
        </div>
        <div style="display: inline-block;">
            <button class="ui-button-secondary" routerLink="/midias" pButton label="Cancelar"></button>
        </div>
        
    </div>

</form>

</div>

