<div class="container" style="width: 100%;">

    <div style="text-align:center;">
        <h1 style="color: green;">
            LISTA DE USUÁRIOS
        </h1>
        <div style="margin: 30px; float: right; margin-top: 0%;">
            <button class="btn-salvar" class="ui-button-success" pButton type="button" label="Novo Usuário" (click)="goToUsuarioNovo()" ></button>
        </div>
    </div>
    
    <form #f="ngForm" autocomplete="off" (ngSubmit)="getUsuarios()">

        <div style="margin-left: 0%; display: inline-block; margin-bottom: 1%; width: 100%; ">

            <div style="margin: 2%;">
                <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                    <label>Nome</label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-fluid">
                    <input pInputText type="text" name="nome" class="campo" [(ngModel)]="nome">
                </div>
            </div>

            <div style="margin: 2%;">
                <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                    <label>Matrícula</label>
                </div>
                <div class="ui-g-12 ui-md-9 ui-fluid">
                    <input pInputText type="text" name="matricula" class="campo" [(ngModel)]="matricula">
                </div>
            </div>

            <div style="margin: 2%;">
                <div class="ui-g-12 ui-md-9 ui-fluid" style="color: green;">
                    <label for="perfis">Perfil</label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <p-dropdown [options]="perfis" name="perfil" placeholder="Selecione" [(ngModel)]="perfil"></p-dropdown>
                </div>
            </div>

        </div>
            
        <div style="margin-left: 3%; display: inline-block; margin-bottom: 1%; ">
            
            <div style="display: inline-block;">
                <button class="ui-button-success" pButton type="submit" label="Pesquisar" ></button>
            </div>
            <div style="display: inline-block;">
                <button style="margin-left: 2%;" class="ui-button-secondary" pButton label="Limpar" (click)="limpar()" ></button>
            </div>  
        </div>            

    </form>
   
    <p-dataTable [value]="usuarios" [paginator]="true" [rows]="3" [responsive]="true"
      emptyMessage="Nenhum usuário encontrado" #tabela>
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="matricula" header="Matrícula"></p-column>
        <p-column field="perfil" header="Perfil"></p-column>
        <p-column field="status" header="Ativo"></p-column>

        <p-column styleClass="acoes" header="Ações">
          <ng-template let-usuario="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" class="ui-button-success" label="editar" [routerLink]="['/usuarios', usuario.id]"></a>
            <button pButton icon="fa-trash" class="ui-button-success" label="excluir" (click)="confirmarExclusao(usuario)"></button>
          </ng-template>
        </p-column>

    </p-dataTable>

</div>
      
