<div class="container">
    
  <div style="text-align:center">
      <h1 style="color: green;">
          GRADE DE PROGRAMAÇÃO
      </h1> 
  </div>

  <div style="width: 100%;">

    <div style="margin-left: 2%; width: 30%;">
      <div class="ui-g-12 ui-md-9" style="color: green;">
          <label for="tv">TV</label>
      </div>
      <div class="ui-g-12 ui-md-9">
          <p-dropdown [options]="tvs" name="tv" placeholder="Selecione"
          [style]="{width: '100%', minWidth: '50%'}" [(ngModel)]="tv"></p-dropdown>
      </div>
    </div>
  
    <div style="float: right; width: 75%; margin-top: 0.7%;">
      <button pButton type="button" class="ui-button-success" label="Buscar grade"
      (click)="buscar()"></button>
    </div>  

  </div>

  <div>
    <table id="customers">
      <thead >
        <tr>
          <th colspan="4">Grade da TV Selecionada</th>
        </tr>
      </thead>
      <thead class="thead-light">
        <tr>
          <th>Titulo</th>
          <th>Ativo</th>
          <th>Exibindo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of grades">
          <th>{{ g.titulo }}</th>
          <th>{{ g.ativa ? "Sim" : "Não" }}</th>
          <th>{{ g.exibindo ? "Sim" : "Não"}}</th>
          <th>
            <a pButton icon="fa-plus" class="ui-button-success" 
            pTooltip="Adicionar programação" (click)="showDialogAdd(g.id)"></a>
            <a pButton icon="fa-pencil" class="ui-button-success" 
            pTooltip="Editar programação"></a>
            <!-- No editar programação da grade, pode ter um btn pra excluir uma programação
            selecionada -->
            <a pButton icon="fa-file" class="ui-button-success" 
            pTooltip="Visualizar lista de programação"></a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Programações do usuário -->

  <p-dialog [visible]="displayAdd" [width]="800" [closable]="true" [positionTop]=20>
  
    <p-header style="color: green !important;">
        Listagem de Programação
    </p-header>
    
    <div>
      <table id="customers">
        <thead >
          <tr>
            <th colspan="4">Lista de Programações</th>
            <th></th>
          </tr>
        </thead>
        <thead class="thead-light">
          <tr>
            <th>Titulo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of programacoes">
            <th>{{ p.titulo }}</th>
            <th>
              <a pButton icon="fa-plus" class="ui-button-success" 
              pTooltip="Adicionar programação" (click)="showDialogAdd()"></a>
              <a pButton icon="fa-pencil" class="ui-button-success" 
              pTooltip="Editar programação"></a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <p-footer>
        <button type="button" class="ui-button-success" pButton icon="fa-close" (click)="displayAdd=false" label="Fechar"></button>
    </p-footer>

</p-dialog>

</div>