<div class="container">
    
  <div style="text-align:center">
      <h1 style="color: green;">
          GRADE DE PROGRAMAÇÃO
      </h1> 
  </div>

  <div style="width: 100%;">

    <div style="margin-left: 2%; width: 40%;">
      <div class="ui-g-12 ui-md-9" style="color: green;">
          <label for="tv">TV</label>
      </div>
      <div class="ui-g-12 ui-md-9">
          <p-dropdown [options]="tvs" name="tv" placeholder="Selecione"
          [style]="{width: '100%', minWidth: '50%'}" [(ngModel)]="tv"></p-dropdown>
      </div>
    </div>
  
    <div style="float: right; width: 67%; margin-left: 0%; margin-top: 1%;">
      <button pButton type="button" class="ui-button-success" label="Buscar grade"
      (click)="buscar()"></button>
    </div>  

  </div>

  <div>
    <table id="customers">
      <thead >
        <tr>
          <th colspan="4">Grade da TV Selecionada</th>
        </tr>
      </thead>
      <thead class="thead-light">
        <tr>
          <th>Titulo</th>
          <th>Ativo</th>
          <th>Exibindo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of grades">
          <th>{{ g.titulo }}</th>
          <th>{{ g.ativa }}</th>
          <th>{{ g.exibindo }}</th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>

</div>